* {
	margin:0;
	border:0;
}

.contents {
	position: relative;
	height:100%;
	width:100%;
}

.top {
	height:50px;
	border: 1px solid red;
}
.top .title {
	font-size:1.4em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: inline-block;;
	line-height: 40px;
	padding:5px;
	width:100%;
}

.inner {
	width:100%;
	height:100%;
	line-height: 40px;
	padding:5px;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	position:absolute;
}

.middle {
	height:calc(100% - 100px);
	border: 1px solid green;
}

.bottom {
	height:50px;
	border: 1px solid yellow;
	position: relative;
	vertical-align: middle;
	display: table-cell;
}

.left {
	float:left;
	height:100%;
	width:300px;
	background-color: green;
}

.right {
	float:right;
	height:100%;
	width:calc(100% - 300px);
	background-color: lime;
}

.rfloat {
	float: right;
}
.lfloat {
	float: left;
}
