* {
	margin:0;
	border:0;
}

.contents {
	position: relative;
	height:100%;
	width:100%;
}

.top {
	height:50px;
	border-bottom:1px solid darkgray;
	background: #EEEEEE;
}
.top .title {
	font-size:1.4em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: inline-block;;
	line-height: 40px;
	padding:5px;
	width:100%;
}

.inner {
	width:100%;
	height:100%;
	line-height: 40px;
	padding:5px;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
	position:absolute;
}

.middle {
	height:calc(100% - 100px);
}


.left {
	float:left;
	height:100%;
	width:300px;
}

.right {
	float:right;
	height:100%;
	width:calc(100% - 300px);
	border-left: 1px solid darkgray;
	overflow-y: scroll;
	overflow-x: hidden;
	padding:10px;
}
.bottom {
	padding-right: 10px;
	height:50px;
	position: relative;
	border-top: 1px solid darkgray;
	text-align: right;
}

.subbtn {
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.rfloat {
	float: right;
}
.lfloat {
	float: left;
}

.form-inline {
	padding-top: 10px;
}

.item_table {
	display: block;
	width: 100%;
}
.item {
	display: block;
	clear: both;
	line-height: 1.6em;
}
.item_text {
	display: block;
	color: darkgray;
	float: left;
    width: calc(100% - 50px);
}
.item_text_span {
	display: block;
	color: darkgray;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item_control {
	display: block;
	width: 30px;
	float: left;
}
.item_number {
	display: block;
	width: 20px;
	text-align: center;
	font-size: 0.9em;
	float: left;
}
